.row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.question-fieldset {
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 1000px;

    .answers {
        width: 100%;
    }
}
