.question-image {
    max-width: 300px;
    display: block;
    margin-bottom: 1rem;
}

#question-form .submit-btn {
    margin-top: 1.5rem;
}

ul.answers {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    list-style-type: none;
    padding: 0;
    margin: 1em 0;

    li .answer-input-row {
        display: flex;
        gap: 0.5em;
        align-items: center;

        border-radius: 0.5em;
        padding: 0.3em;

        input {
            flex: 0 0 auto;
        }
        label {
            flex: 1;
        }
        .answer-feedback {
            flex: 0;
            font-size: 0.8em;
        }

        &.correctly-selected {
            background-color: #b2dfb2;
        }
        &.incorrect {
            background-color: #f4b6b8;
            color: black;
        }
    }
}
